body{
    background-color: darkslategray;
    font-family:Arial, Helvetica, sans-serif;
    
}
.assignments {
    display: flex;
    flex-wrap: wrap;
}
.assignment {
    width: 22%;
    padding: 10px;
    margin:10px;
    padding: 20px 10px;
    background: olivedrab;
    border-radius: 7px;
}
.assignment img {
    width:200px;
    margin: 10px;
    border: 4px dashed cornflowerblue;
    display: block;
    margin: auto;
}
.assignment img:hover{
    border:4px dashed red;
}
h1{
    color: cornflowerblue;
    text-align: center;
}
h1:hover{
    color:red;
}
h2{
    text-align: center;
}

a{
    text-decoration: none;
    color: cornflowerblue;
}
a:hover{
    color:red;
}


